

.menu-section, .menu-section2, .menu-section3, .menu-section4, .menu-section5{
  height: 600px;
  overflow:hidden;
}
.tea-image {
  width: 50%
}
.description-wrapper {
  width: 100%;
}
.menu-section{
  background-color: rgb(235, 235, 235);
}
.menu-section2{
    background-color: rgb(255, 255, 255);

}
.menu-section3{
  background-color: rgb(235, 235, 235);

}
.menu-section4{
  background-color: rgb(255, 255, 255);

}
.menu-section5{
  background-color: rgb(235, 235, 235);
}


.all-menu img{
  display: block;
  width: 700px;
  margin-top: 60px;
  float: left;
  margin-left: -5%;
}
.all-menu > div:nth-child(even) img{
  float: right;
  /* margin-left: 0px;
  margin-right: 0%; */
  margin-left: 0;
  margin-right: -5%;
}
.menu-description{
  padding-left: 5%;
  padding-right: 5%;
  /* padding-right: 10%; */
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-menu > div:nth-child(even) .menu-description{
  /* padding-left: 20%;
  padding-right: 40%; */
}

.menu-description h1{
  font-size: 55px;
  font-family: 'Thasadith', sans-serif;

}
.menu-description p {
  font-family: 'Thasadith', sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
  font-size: 20px;
}

@media only screen and (max-width: 950px) {
  .all-menu img{
    width: 600px;
    margin-top: 120px;
    margin-left: -15%;
  }
  .all-menu > div:nth-child(even) img{
    margin-right: -15%;
  }
  .menu-description h1 {
    margin-top: 100px;
    font-size: 40px;
  }
  .menu-description p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .all-menu img{
    width: 650px;
    float: none;
    margin-top: 170px;
    margin-left:auto;
    margin-right: auto;
  }
  .description-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .all-menu > div:nth-child(even) img{
    float: none;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-description h1{
    margin-top: 20px;
    font-size: 30px;

  }

  .menu-description p {
    font-size: 15px;
  }
  .menu-section, .menu-section2, .menu-section3, .menu-section4, .menu-section5{

    position: relative;
  }
  .menu-description{
    position: absolute;
    top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
    padding-top: 0%;
    text-align: center;
  }

  .all-menu > div:nth-child(even) .menu-description{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
    padding-top: 0%;
  }
  .menu-pdf{
    font-size: 24px;
  }

}
