

.menu-section, .menu-section2, .menu-section3, .menu-section4{
  height: 600px;
  overflow:hidden;
}
.menu-section {
  height: 650px;
}

.menu-section{
  background-color: rgb(235, 235, 235);
}
.menu-section2{
    background-color: rgb(255, 255, 255);

}
.menu-section3{
  background-color: rgb(235, 235, 235);

}
.menu-section4{
  background-color: rgb(255, 255, 255);

}


.menu-pdf{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Noto Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif; */

}

.all-menu img{
  display: block;
  width: 380px;
  margin-top: 50px;
  float: left;
  margin-left: 5%;
}
.all-menu > div:nth-child(even) img{
  float: right;
  margin-left: 0px;
  margin-right: 5%;
}
.menu-description{
  padding-left: 40%;
  padding-right: 20%;
  margin-top: 45px;
  padding-top: 60px;
  text-align: center;
}
.all-menu > div:nth-child(even) .menu-description{
  padding-left: 20%;
  padding-right: 40%;
}

.menu-description h1{
  font-size: 55px;
  font-family: 'Oswald', sans-serif;

}
.menu-description p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 950px) {
  .menu-description h1 {
    font-size: 40px;
  }
  .menu-description p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .all-menu img{
    float: none;
    margin-top: 150px;
    margin-left:auto;
    margin-right: auto;
  }
  .all-menu > div:nth-child(even) img{
    float: none;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-description h1{
    font-size: 30px;

  }
  .menu-description p {
    font-size: 15px;
  }
  .menu-section, .menu-section2, .menu-section3, .menu-section4{

    position: relative;
  }
  .menu-description{
    position: absolute;
    top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
    padding-top: 0%;
    text-align: center;
  }

  .all-menu > div:nth-child(even) .menu-description{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
    padding-top: 0%;
  }
  .menu-pdf{
    font-size: 24px;
  }

}
